.container {
  max-width: $normal-breakpoint;
  margin: 0 auto;

  @include for-mobile-layout {
    max-width: initial;
  }

  @include for-tablet-layout {
    max-width: $mobile-breakpoint;
  }

  @include for-normal-layout {
    max-width: $tablet-breakpoint;
  }
}

@media screen and (min-width: 1080px) {
  .container {
    padding-left: 10px;
    padding-right: 10px;
    padding: 20px;
  }
}
