.top-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $clr3;
  height: 60px;
  border-bottom: 1px solid $clr3;

  .logo {
    font-size: rem(20px);
    margin-left: 15px;
    color: white;
  }
  .profile-picture {
    display: none;
  }

  form:nth-child(3) {
    display: block;

    input {
      background-color: $clr3;
      border: none;
    }
    ::placeholder {
      color: white;
      font-size: 10px;
      text-align: right;
    }

    svg {
      display: none;
    }
  }

  .main-bar {
    svg {
      margin: 0 10px 0 10px;
      color: white;
    }
  }
}

@media screen and (min-width: 1080px) {
  .top-bar {
    background-color: $clr1;
    border-right: 1px solid $clr2;
    border-bottom: 1px solid rgba(229, 230, 231, 0.578);

    .logo {
      display: none;
    }

    .profile-picture {
      display: block;
      width: 45px;
      height: 45px;
      object-fit: cover;
      border-radius: 50%;
      margin-left: 15px;
    }

    form:nth-child(3) {
      display: none;
    }

    .main-bar {
      svg {
        margin: 0 10px 0 10px;
        color: gray;
      }

      svg:first-child {
        display: none;
      }
    }
  }
}
