// Colors
$clr1: rgb(238, 240, 243);
$clr2: lightgray;
$clr3: rgb(4, 83, 77);
$clr4: rgb(20, 158, 122);

$navHeight: 65px;

// Breakpoints
$mobile-breakpoint: 600px;
$tablet-breakpoint: 768px;
$normal-breakpoint: 1050px;
